
body { background-color: #fff; color: #000; }
html { background-color: #fff; }  /* footer color */
#body {}

strong { font-weight: 800; }

a { color: #666; }
a:visited { color: #999; }
a:hover { color: #000; }
a[target=_blank] { color: #d00; }
a[target=_blank]:visited { color: #f66; }
a[target=_blank]:hover { color: #f00; }

hr { border-top-color: #ccc; }

input { border-color: #ccc; }
input:hover { border-color: #999; }

.disabled { color: #aaa; }

.tooltipsy { border-color: #999; background-color: #eee; }

#search_input { background-color: #fff; color: #000; border-color: #333; }
#search_icon { color: #999; }

#package_list .package_cat_name { color: #0a0; }

.platform_btn { background-color: #fff; color: #999; }
.platform_btn .selected { background-color: #ddd; color: #000; }

.download_link { color: #090 !important; }
.download_link:visited { color: #090 !important; }

.infobar tr + tr { border-top-color: #ccc; }

#docnav .selected a { color: #000 !important; }

.indirect { color: #aaa !important; }
.internal { color: #ccc !important; }
#module_table .error { background-color: #900 !important; color: #fff !important; }

.grep .result.active { border-color: #f00; }
.grep pre { border-color: #ccc; }
.grep .line { color: #888; border-color: #ccc; }
.grep .hl { background-color: #ff0; }

.doc th { border-bottom-color: #666; }
.doc tbody tr {
	border-top-color: #ccc;
	border-bottom-color: #ccc;
}
.doc pre { background-color: #eee; }
.doc blockquote { color: #666; }
.doc th, .doc td strong { color: #666; }

.doc .sourceCode { color: #000; }
/*  KeyWordTok */
.doc .sourceCode .kw { color: #909; }
/*  DataTypeTok */
.doc .sourceCode .dt { color: #003; }
/*  DecValTok (decimal value), BaseNTok, FloatTok */
.doc .sourceCode .dv, .doc .sourceCode .bn, .doc .sourceCode .fl { color: #00f; }
/*  CharTok */
.doc .sourceCode .ch { color: #006; }
/*  StringTok */
.doc .sourceCode .st { color: #006; }
/*  CommentTok */
.doc .sourceCode .co { color: #090; }
/*  OtherTok */
.doc .sourceCode .ot { color: #333; }
/*  AlertTok */
.doc .sourceCode .al { color: #f00; }
/*  FunctionTok */
.doc .sourceCode .fu { color: #000; }
/*  RegionMarkerTok */
.doc .sourceCode .re { }
/*  ErrorTok */
.doc .sourceCode .er { color: #f00; }
