
body { background: #151515; color: #eee; }
#body { background-image: url("hack_bg.png"); }

strong { font-weight: 600; }

a { color: #aaa; }
a:visited { color: #999; }
a:hover { color: #ddd; }
a[target=_blank] { color: #d00; }
a[target=_blank]:visited { color: #f66; }
a[target=_blank]:hover { color: #f99; }

hr { border-top-color: #666; }

input { border-color: #666; }
input:hover { border-color: #ccc; }

.disabled { color: #666; }

.tooltipsy { border-color: #666; background-color: #000; }

#search_input { background-color: #fff; color: #000; border-color: #333; }
#search_icon { color: #999; }

#package_list .package_cat_name { color: #0c0; }

.platform_btn { background-color: #000; color: #999; }
.platform_btn .selected { background-color: #666; color: #fff; }

.download_link { color: #0f0 !important; }
.download_link:visited { color: #0f0 !important; }

.infobar tr + tr { border-top-color: #444; }

#docnav .selected a { color: #fff !important; }

.indirect { color: #666 !important; }
.internal { color: #444 !important; }
#module_table .error { background-color: #900 !important; color: #fff !important; }

.grep .result.active { border-color: #f00; }
.grep pre { border-color: #333; }
.grep .line { color: #888; border-color: #ccc; }
.grep .hl { background-color: #660; }

.doc th { border-bottom-color: #666; }
.doc tbody tr {
	border-top-color: #333;
	border-bottom-color: #333;
}
.doc pre { background-color: #000; }
.doc blockquote { color: #999; }
.doc th, .doc td strong { color: #999; }

.doc .sourceCode { color: #fff; }
/*  KeyWordTok */
.doc .sourceCode .kw { color: #ff0; }
/*  DataTypeTok */
.doc .sourceCode .dt { color: #ffc; }
/*  DecValTok (decimal value), BaseNTok, FloatTok */
.doc .sourceCode .dv, .doc .sourceCode .bn, .doc .sourceCode .fl { color: #99f; }
/*  CharTok */
.doc .sourceCode .ch { color: #FF6666; }
/*  StringTok */
.doc .sourceCode .st { color: #FF6666; }
/*  CommentTok */
.doc .sourceCode .co { color: #99CC99; }
/*  OtherTok */
.doc .sourceCode .ot { color: #CCCCCC; }
/*  AlertTok */
.doc .sourceCode .al { color: #FF0000; }
/*  FunctionTok */
.doc .sourceCode .fu { color: #FFFFFF; }
/*  RegionMarkerTok */
.doc .sourceCode .re { }
/*  ErrorTok */
.doc .sourceCode .er { color: #FF0000; }
