
/* defaults --------------------------------------------------------------- */

html {
	overflow-y: scroll; /* fixate page width */
}

html, body {
	height: 100%;       /* needed so that the footer stays on the bottom */
}

html, body, table, tr, td, div, img, input, pre {
	margin: 0;
	padding: 0;
	border: 0;
}

input {
	box-sizing: border-box; /* width and height include border and padding */
	width: 100%;            /* expand to container */
	border: 1px solid;
	font-size: 90%;
	height: 25px;
	padding: .5em;
}

img {
	display: inline-block;  /* inline with fixed width and height */
	max-width: 100%;        /* auto-shrink to container size */
}

table {
	border-spacing: 0;
   border-collapse: collapse;
}

a {
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	border: 0;
	border-top: 1px solid;
}

.tight { margin: 0; }
.invisible { visibility: hidden; }
.hidden { display: none; }
.nowrap { white-space: nowrap; }

.gray { color: #999; }
.gray a, .gray a:visited { color: #ccc; }
.smallnote { color: #999; }

/* fonts and line spacings ------------------------------------------------ */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
}

strong { font-weight: 600; }

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	line-height: 120%;
}

h2 { font-size: 180%; }
h3 { font-size: 140%; }

h1 {
	margin-top: 40px;
	margin-bottom: 10px;
}

h2 {
	margin-top: 36px;
	margin-bottom: 10px;
}

h3 {
	margin-top: 32px;
	margin-bottom: 10px;
}

h2 + ul, h2 + p, h2 + pre { margin-top: 10px; }
h3 + ul, h3 + p, h3 + pre, h3 + div h4 { margin-top: 10px; }
h2 + div h3 { margin-top: 20px; }
h2 + table { margin-top: 30px; }

pre {
	font-family: Inconsolata, monospace;
	font-size: 13px;
	line-height: 130%;
	overflow-x: auto;
	tab-size: 3;
	white-space: pre-wrap;
}

.small { font-size: 80%; }

.smallnote {
	font-size: 90%;
	font-weight: 600;
	font-style: italic;
	line-height: 150%;
}

warn {
	font-size: 120%;
	color: #f33;
}

.multicol_name {
	list-style: none;
	-webkit-column-width: 140px;
	column-width: 140px;
	-moz-column-width: 140px;
}

/* custom icons ----------------------------------------------------------- */

@font-face {
	font-family: Icons;
	src:url('icons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"], [class="icon"] {
	font-family: Icons;
	speak: none;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-lua:before { content: "\e600"; }
.icon-luajit:before { content: "\e601"; }
.icon-luas:before { content: "\e602"; }
.icon-linux:before { content: "\e603"; }
.icon-linux32:before { content: "\e604"; }
.icon-linux64:before { content: "\e605"; }
.icon-mingw:before { content: "\e606"; }
.icon-mingw32:before { content: "\e607"; }
.icon-mingw64:before { content: "\e608"; }
.icon-osx:before { content: "\e609"; }
.icon-osx32:before { content: "\e60a"; }
.icon-osx64:before { content: "\e60b"; }

/* main template ---------------------------------------------------------- */

.screen_width {
	width: 96%;
	max-width: 1000px;
}

.topbar {
	height: 33px;
	background-color: #282828;
	box-shadow: 0px 2px 2px #000;
}

.topbar a { color: #999; }
.topbar a:visited { color: #ccc; }
.topbar a:hover, .topbar a:visited:hover { color: #ddd; }

.topbar_content {
	margin-top: 5px;
}

.topbar_logo {
	font-size: 16px;
	font-weight: 400;
	margin-right: 1em;
}

.lights_btn {
	text-decoration: none;
	position: relative;
	top: 1px;
	margin-right: 3em;
	white-space: nowrap;
}

.lights_icon {
	font-size: 120% !important;
	text-decoration: none !important;
	display: inline-block;
	position: relative;
	top: 1px;
	left: 4px;
}

.github_label {
	position: relative;
	padding-right: 20px;
	white-space: nowrap;
}

.github_icon {
	font-size: 140% !important;
	text-decoration: none !important;
	vertical-align: middle;
	position: relative;
	padding-left: 5px;
}

.search_input {
	background-color: #fff;
	color: #000;
	border-color: #333;
}

.search_icon {
	font-size: 110%;
	float: right;
	margin-right: 9px;
	margin-top: -19px;
	position: relative;
	z-index: 2;
	color: #999;
}

/* need to make the footer stay on the bottom */
.body_wrapper {
	min-height: 100%;
	position: relative;
}

.main {
	padding-top: 30px;
	padding-bottom: 240px; /* padding + footer height */
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: #000;
	color: #fff;
}

.footer_footer {
	opacity: 0.5;
}

.footer a { color: #aaa; }
.footer a:visited { color: #aaa; }
.footer a:hover, .footer a:visited:hover { color: #ddd; }

/* tooltips --------------------------------------------------------------- */

.infotip { display: none; }

.tooltipsy {
	border: 1px solid #666;
	border-radius: 10px;
	padding: 1em;
	background-color: #000;
}

.tooltipsy:after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-left-color: #000;
    bottom: -10px;
    left: 50%;
    z-index: -1;
}

/* homepage --------------------------------------------------------------- */

.home_logo {
	margin-top: 30px;
	margin-bottom: 0px;
	margin-left: -60px;
}

.home_tagline {
	color: #777;
	margin-left: -60px;
	margin-bottom: 30px;
}

.package_list {
	line-height: 140%;
}

.package_list ul {
	padding-left: 0;
	list-style: none;
}

.package_list .package_cat {
	margin-bottom: 1.2em;
}

.package_list .hot {
	font-size: 80%;
}

.package_table td {
	padding: 3px;
}

.package_table .icon {
	font-size: 140%;
	width: 22px;
	display: inline-block;
	text-align: right;
}

.package_table th {
	cursor: pointer;
	position: relative;
}

.package_table th.tablesorter-headerAsc:after,
.package_table th.tablesorter-headerDesc:after {
	font-family: FontAwesome;
	position: absolute;
	top: 10px;
	right: 8px;
	display: block;
}

.package_table th.tablesorter-headerAsc:after { content: '\f077'; }
.package_table th.tablesorter-headerDesc:after { content: '\f078'; }

.package_table th:hover {
	text-decoration: underline;
}

/* package page ----------------------------------------------------------- */

.action_links a + a {
	margin-left: 0.5em;
}

.action_links a:hover i, .download:hover i {
	text-decoration: underline !important;
}

.rightside {
	width: 190px;
	padding-left: 20px;
}

.switch {
	cursor: pointer;
}

#dep_matrix th {
	font-size: 100%;
	font-weight: normal;
	padding-top: 0;
}

#dep_matrix td {
	padding: 0px;
}

#dep_matrix td:first-child {
	padding-right: 0.5em;
	border-right: 1px solid #888;
}

#dep_lists .col1 {
	padding-right: 0.5em;
	border-right: 1px solid #888;
}

#dep_lists .col2 {
	padding-left: 0.5em;
}

.download {
	display: block;
	text-align: center;
	width: 12em;
	padding: 4px;
	margin-top: 4px;
	margin-right: 30px;
}

.download { background-color: #080; color: #fff !important; }
.download:visited { color: #999 !important; }
.download:hover { color: #ff0 !important; }

.platform_btn {
	font-size: 120%;
	padding: 0;
	position: relative;
	border: 1px solid gray;
	border-radius: 6px;
	cursor: pointer;
	overflow: hidden;
}
.platform_btn div {
	display: inline-block;
	text-align: center;
}
.platform_btn .icon-mingw { width: 30px; }
.platform_btn .icon-linux { width: 20px; }
.platform_btn .icon-osx   { width: 20px; text-align: left; }
.platform_btn { background-color: #ddd; }
.platform_btn .selected { background-color: #fff; }

.infobar { font-size: 90%; }
.infobar td { padding-right: 0.5em; }
.infobar td { padding-top: 4px; padding-bottom: 4px; }
.infobar tr + tr { border-top: 1px solid; }

.requires_label {
	display: inline-block;
	min-width: 82px;
}

#docnav {
	text-align: left;
	position: absolute;
	z-index: 100;
}

#docnav div {
	border-left: 2px solid rgba(0,0,0,0);
}

#docnav .selected {
	border-left: 2px solid gray;
	color: #999;
}

/* grep page -------------------------------------------------------------- */

.grep .result {
	border: 1px solid rgba(0,0,0,0);
	margin-bottom: 30px;
}

.grep .result.active {
	border-width: 1px;
	border-style: solid;
}

.grep .more {
	max-height: 80px;
	overflow-y: hidden;
}

.grep .expand {
	font-size: 90%;
	text-decoration: underline;
}

.grep pre {
	padding: 1em 0;
	border-width: 1px;
	border-style: solid;
}

.grep .line {
	width: 3em;
	display: inline-block;
	padding-right: 6px;
	margin-right: 10px;
	border-right-width: 1px;
	border-right-style: solid;
	text-align: right;
}

/* back-to-top link ------------------------------------------------------- */

.top {
	display: inline-block;
	width: 40px;
	height: 30px;
	position: fixed;
	left: 92%;
	bottom: 20px;
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s 0s;
}

.top:before {
	font-family: FontAwesome;
	content: '\f077';
}

.top.visible {
	visibility: visible;
	opacity: .7;
}

.top:hover {
	opacity: 1;
}

.top.visible, .top:hover {
	transition: opacity 0.3s 0s;
}

/* document --------------------------------------------------------------- */

.doc dt {
	font-style: italic;
	font-weight: bold;
}

.doc ul li {
	list-style: none;
	list-style-position: outside;
	overflow: visible;
   position: relative;
}

.doc ul li:before {
	content: "\00bb";
	position: absolute;
	left: -1.5em;
	color: #999;
}

.doc blockquote {
	margin-left: 0;
	padding-left: 1em;
	border-left: 1px dotted;
}

.doc pre {
	padding: 1.5em;
}

.doc h2 code,
.doc h3 code,
.doc h4 code,
.doc pre code,
.doc td code {
	font-weight: normal;
}

.doc th {
	font-size: 110%;
	text-align: left;
	border-bottom: 1px solid;
	padding: 4px;
	padding-top: 8px;
}

.doc tbody tr {
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.doc td {
	padding: 4px;
	vertical-align: top;
}

/* hack: use <strong> in a table means a header */
.doc td strong {
	font-size: 120%;
	margin-top: 6px;
	display: inline-block;
}

.doc dt {
	font-size: 110%;
	font-style: normal;
	border-top: 1px solid;
	padding-top: 20px;
}

.doc dd {
	text-indent: 2em;
}

/* Syntax highlighting */

.doc .sourceCode {}

/*  KeyWordTok */
.doc .sourceCode .kw {}
/*  DataTypeTok */
.doc .sourceCode .dt {}
/*  DecValTok (decimal value), BaseNTok, FloatTok */
.doc .sourceCode .dv, .doc .sourceCode .bn, .doc .sourceCode .fl {}
/*  CharTok */
.doc .sourceCode .ch {}
/*  StringTok */
.doc .sourceCode .st {}
/*  CommentTok */
.doc .sourceCode .co {}
/*  OtherTok */
.doc .sourceCode .ot {}
/*  AlertTok */
.doc .sourceCode .al {}
/*  FunctionTok */
.doc .sourceCode .fu {}
/*  RegionMarkerTok */
.doc .sourceCode .re {}
/*  ErrorTok */
.doc .sourceCode .er {}
